# Extra dependencies for GRPO training
unsloth
vllm
snac
msgspec
blake3
fastapi
gguf
wandb
soundfile
librosa
evaluate
jiwer
# git repo for wespeaker
cloudpickle
openai
py-cpuinfo
llguidance
xgrammar
numpy==1.24
torchmetrics[audio]
audiobox_aesthetics
